.cactus{
    width: 46px;
    height: 96px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(/img/cactus1.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 66px;

    background: url(/img/cactus2.png) no-repeat;
} 